* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: black;
    text-decoration: none;
}

.mainContainer {
    margin: 7rem auto 0;
    width: 62%;
    /* position: relative;
    height: 100%; */
}

.searchInput {
    font-family: inherit;
    font-size: 1rem;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    margin: 1rem 0;
}

li {
    margin-top: 1rem;
}

.form__input {
    font-family: inherit;
    outline: none;
    border: none;
    width: 50%;
    margin: 0.5rem 0;
    border-bottom: 1px solid;
}